/* tables style */

table {
	width: 100%;
	border: 1px solid #555555;
	background-color: #F3F3F3;
	padding: 5px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

table th, td {
	padding: 10px;
}

table td {
	border: 1px solid #BABABA;
	background-color: #F9F9F9;
	text-align: center;
}

table tbody tr:first-child td:first-child {
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
}

table tbody tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
}

table tbody tr:first-child td:last-child {
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
}

table tbody tr:last-child td:last-child {
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
}

/* extra style for clickable tables */
.clickabletable tbody tr td:first-child, .clickabletable tbody tr td:last-child {
	background-color: #DDDDDD;
	font-weight: bold;
	border: 1px solid #999999 !important;
}

.emptyCell {
	border: 1px solid #DDDDDD !important;
	/*background-color: #EEEEEE;*/
}

.clickabletable tbody tr td {
	padding: 20px;
}

/* margin for listview with title and content */
ul[data-role=listview] .ui-li-desc {
	margin-top: 20px;
}

/* style for big buttons (tablets oriented) */
.bigbutton .ui-btn-inner {
	padding: 100px;
	font-size: 32px;
}

/* disable text truncation in buttons */
.ui-btn-text {
	white-space: normal;
}

.current-user-bar {
	float: right;
	display: block;
}
