{% extends "mobi.html" %}

{% block content %}

<div data-role="page" id="patient-select" data-theme="d">
	<div data-role="header" data-position="inline" data-theme="b">
		<h1>Bedside</h1>
		<a data-direction="reverse" data-icon="home" data-ajax="false" href="/">Logout</a>		
	</div>
	
	<div data-role="content">
		<ul data-role="listview" data-theme="d" data-filter="true" data-filter-placeholder="Cerca paziente...">
			<li>
				<a href="#patient-review">
					<div class="ui-li-count">1</div>
					<h1>Mario Rossi</h1>
					<p>ID 6438, 42 years old</p>
				</a>
			</li>
			<li>
				<a href="#patient-review">
					<div class="ui-li-count">2</div>
					<h1>Mario Rossi</h1>
					<p>ID 9862, 25 years old</p>
				</a>
			</li>
			<li>
				<a href="#patient-review">
					<div class="ui-li-count">3</div>
					<h1>Andrea Aquino</h1>
					<p>ID 3150, 22 years old</p>
				</a>
			</li>
			<li>
				<a href="#patient-review">
					<div class="ui-li-count">4</div>
					<h1>Matteo Brucato</h1>
					<p>ID 8020, 27 years old</p>
				</a>
			</li>
		</ul>
	</div>
</div>

<div data-role="page" id="patient-review" data-theme="d">
	<div data-role="header" data-position="inline" data-theme="b">
		<h1>Bedside</h1>
		<a data-direction="reverse" data-icon="home" data-ajax="false" href="/">Logout</a>
		<div data-role="navbar" data-iconpos="right">
			<ul>
				<li><a href="#patient-select" data-icon="back">Back</a></li>
				<li><a href="#nurse2" data-icon="forward">Start</a></li>
			</ul>
		</div>
	</div>
	
	<div data-role="content">
		<div class="toRight">
			<div>Medicina Interna A - Piano 6, Sala 2</div>
			<div>Infermiere: Anna Bianchi</div>
		</div>
		
		<!-- Patient data -->
		<h1>Dati Paziente</h1>
		<table>
			<thead>
				<th>ID</th>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Sesso</th>
				<th>Età</th>
				<th>Data Ricovero</th>
				<th>Reparto Inviante</th>
			</thead>
			<tbody>
				<tr>
					<td>00016438</td>
					<td>Mario</td>
					<td>Rossi</td>
					<td>M</td>
					<td>42</td>
					<td>15-01-2012 10:15</td>
					<td>PS</td>
				</tr>
			</tbody>
		</table>

		<!-- Diagnosis -->
		<h3>Diagnosi</h3>
		<div>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam arcu lorem, consectetur placerat aliquam sit amet, tincidunt viverra lorem. In nulla eros, ullamcorper nec tempus id, fermentum semper lorem. Proin felis orci, tincidunt non pharetra eu, lacinia nec justo. Praesent tellus metus, pharetra id posuere varius, rutrum sed nulla. Nulla a gravida eros. Pellentesque rhoncus velit sed quam pellentesque porta. Duis euismod rhoncus ornare. Integer quis felis mi.<br/><br/>
			Sed odio felis, molestie sit amet tincidunt a, cursus sed sem. Pellentesque et enim ut dui lacinia rutrum. Aenean sed cursus sem. Nullam pulvinar porttitor iaculis. Integer quis arcu nulla, id bibendum nulla. Integer euismod sagittis ante, vitae malesuada nibh egestas sit amet. Donec vel sem a nisl faucibus tincidunt. Duis at ante sed lorem egestas congue. Quisque dictum nulla ut neque tincidunt blandit. Nam auctor elit at libero dignissim vehicula ac a mauris. Nullam lectus nisl, luctus a tristique sit amet, vestibulum et orci. Aliquam augue nibh, sodales id vehicula vel, gravida mattis mi. Vivamus volutpat vehicula interdum. Vivamus eget odio felis. Etiam dictum risus non tortor ultricies sit amet sollicitudin odio accumsan. Cras sit amet enim nisl.
		</div>
	</div>
</div>

<div data-role="page" id="nurse2" data-theme="d">
	<div data-role="header" data-position="inline" data-theme="b">
		<h1>Bedside</h1>
		<a class="ui-btn-left" data-ajax="false" data-icon="home" href="/">Logout</a>
		<div data-role="navbar" data-iconpos="right">
			<ul>
				<li><a href="#patient-review" data-icon="back">Back</a></li>
				<li><a href="#nurse3" data-icon="forward">Next</a></li>
			</ul>
		</div>
		
		<!--div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
			<a href="index.html" data-role="button" data-icon="back">Back</a>
			<a href="index.html" data-role="button" data-icon="arrow-r">Next</a>        
		</div-->
	</div>
	
	<div data-role="content">
		<div class="toRight">
			<div>Medicina Interna A - Piano 6, Sala 2</div>
			<div>Infermiere: Anna Bianchi</div>
		</div>
		
		<!-- Patient data -->
		<h1>Dati Paziente</h1>
		<table class="clickabletable">
			<thead>
				<th>MEWS</th>
				<th>0</th>
				<th>1</th>
				<th>2</th>
				<th>3</th>
				<th>Totale</th>
			</thead>
			<tbody>
				<tr>
					<td>FR</td>
					<td>9 - 14</td>
					<td>15 - 20</td>
					<td>&lt; 9 o 21 - 29</td>
					<td>&ge; 30</td>
					<td>0</td>				
				</tr>
				<tr>
					<td>FC</td>
					<td>51 - 100</td>
					<td class="emptyCell"></td>
					<td>&lt; 40 o 101 - 129</td>
					<td>&gt; 130</td>
					<td>0</td>
				</tr>
				<tr>
					<td>PA</td>
					<td>101 - 199</td>
					<td class="emptyCell"></td>
					<td>&gt; 200 o 71 - 80</td>
					<td>&lt; 70</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Temperatura C°</td>
					<td>35 - 38.4</td>
					<td class="emptyCell"></td>
					<td class="emptyCell"></td>
					<td>&gt; 38.5 o &lt; 35</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Coscienza</td>
					<td>Sveglio</td>
					<td>Reaz a voce</td>
					<td>Reaz a dolore</td>
					<td>No reaz a stimolo</td>
					<td>0</td>
				</tr>
				<tr>
					<td colspan="5">MEWS score:</td>
					<td id="mews-score">0</td>
				</tr>
			</tbody>	
		</table>
		<p class="toRight">
			<span class="redText">Area Rossa &ge; 3</span>
			<span class="blueText">Area Blu &lt; 3</span>
		</p>

	</div>
</div>

<div data-role="page" id="nurse3" data-theme="d">
	<div data-role="header" data-position="inline" data-theme="b">
		<h1>Bedside</h1>
		<a data-direction="reverse" data-icon="home" data-ajax="false" href="/">Logout</a>
		<div data-role="navbar" data-iconpos="right">
			<ul>
				<li><a href="#nurse2" data-icon="back">Back</a></li>
				<li><a href="/" data-icon="check" data-ajax="false">Submit</a></li>
			</ul>
		</div>
	</div>
	
	<div data-role="content">
		<div class="toRight">
			<div>Medicina Interna A - Piano 6, Sala 2</div>
			<div>Infermiere: Anna Bianchi</div>
		</div>
		
		<!-- Patient data -->
		<h1>Dati Paziente</h1>
		<table class="clickabletable">
			<thead>
				<th>Parametro</th>
				<th>0</th>
				<th>3</th>
				<th>5</th>
				<th>6</th>
				<th>Totale</th>
			</thead>
			<tbody>
				<tr>
					<td>Respirazione</td>
					<td>No O<sub>2</sub></td>
					<td>Si O<sub>2</sub></td>
					<td>O<sub>2</sub> reserv. Bronco Aspirazione</td>
					<td>NIMV</td>
					<td>0</td>				
				</tr>
				<tr>
					<td>Responsività</td>
					<td>Orientato</td>
					<td>No risp. patologie croniche</td>
					<td>Confusione Acuta Agitazione</td>
					<td>Incosciente di recente insorgenza</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Sanguinamento</td>
					<td>Assente</td>
					<td class="emptyCell"></td>
					<td class="emptyCell"></td>
					<td>Presente</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Controllo PV</td>
					<td class="emptyCell"></td>
					<td>&ge; 8 - 12h</td>
					<td class="emptyCell"></td>
					<td>&le; 6 hr</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Esami urgenti / 24h</td>
					<td class="emptyCell"></td>
					<td>&le; 2</td>
					<td class="emptyCell"></td>
					<td>&gt; 2</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Terapie EV / 24h</td>
					<td class="emptyCell"></td>
					<td>&le; 2</td>
					<td class="emptyCell"></td>
					<td>&gt; 2</td>
					<td>0</td>
				</tr>
				<tr>
					<td colspan="5">IP score:</td>
					<td id="ip-score">0</td>
				</tr>
			</tbody>		
		</table>
		<p class="toRight">
			<span class="redText">Area Rossa &ge; 16</span>
			<span class="blueText">Area Blu &le; 15</span>
		</p>

	</div>
</div>

{% endblock %}
