{% extends "mobi.html" %}

{% block content %}
    
<div data-role="page" id="role-selection" data-theme="d">
	<div data-role="header" data-theme="b">
		<h1>Bedside</h1>
	</div>
	
	<div data-role="content">
		<div>
			<a data-theme="b" data-role="button" href="#doc" class="bigbutton">Medico</a>
		</div>
		<div>
			<a data-theme="c" data-role="button" href="#nurse" class="bigbutton">Infermiere</a>
		</div>
	</div>
</div>

{% include "jquery-pages/login.html" with page_id="doc"   action="doc"   user_role="Medico" %}
{% include "jquery-pages/login.html" with page_id="nurse" action="nurse" user_role="Infermiere" %}

<!--div data-role="page" id="doctor" data-theme="d">
	<div data-role="header" data-theme="b">
		<h1>Bedside</h1>
		<a data-direction="reverse" data-icon="back" href="#role">Back</a>
	</div>
	
	<div data-role="content">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
			
		<h3>Login Medico</h3>
		<form action="doc" method="post" id="login-form" data-ajax="false">
			{% csrf_token %}
			<ul data-role="listview" data-inset="true" data-theme="c">
				<li data-role="fieldcontain">
				<div data-role="fieldcontain">
					<label for="username" class="ui-hidden-accessible">Nome utente:</label>
					<input type="text" name="username" id="username" value="" placeholder="Nome utente..."/>
				</div>
				<div data-role="fieldcontain">
					<label for="password" class="ui-hidden-accessible">Password:</label>
					<input type="password" name="password" id="password" value="" placeholder="Password..."/>
				</div>
				</li>
				<li data-role="fieldcontain">
					<button type="submit" data-theme="b">Login</button>
				</li>
			</ul>
		</form>
	</div>
	
</div>

<div data-role="page" id="nurse" data-theme="d">
	<div data-role="header" data-theme="b">
		<h1>Bedside</h1>
		<a data-direction="reverse" data-icon="back" href="#role">Back</a>
	</div>
	
	<div data-role="content">
		{% if form.errors %}
			<p>Your username and password didn't match. Please try again.</p>
		{% endif %}
			
		<h3>Login Infermiere</h3>
		<form action="nurse" method="post" id="login-form" data-ajax="false">
			{% csrf_token %}
			<ul data-role="listview" data-inset="true" data-theme="c">
				<li data-role="fieldcontain">
				<div data-role="fieldcontain">
					<label for="username" class="ui-hidden-accessible">Nome utente:</label>
					<input type="text" name="username" id="username" value="" placeholder="Nome utente..."/>
				</div>
				<div data-role="fieldcontain">
					<label for="password" class="ui-hidden-accessible">Password:</label>
					<input type="password" name="password" id="password" value="" placeholder="Password..."/>
				</div>
				</li>
				<li data-role="fieldcontain">
					<button type="submit" data-theme="b">Login</button>
				</li>
			</ul>
		</form>
	</div>
	
</div-->

{% endblock %}
