<!DOCTYPE html> 
<html> 
	<head> 
	<title>Page Title</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile-1.0.1/jquery.mobile.structure-1.0.1.min.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.css" />
	<script type="text/javascript" src="{{ STATIC_URL }}jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
	<!--script type="text/javascript" src="{{ STATIC_URL }}js/mobi.js"></script-->
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.mobile-1.0.1/jquery.mobile-1.0.1.min.js"></script>
</head> 
<body>
{% load url from future %}
    <div data-role="page" id="role" data-theme="d">
		<div data-role="header" data-position="inline" data-theme="b">
			<h1>BEDSIDE - Select Role</h1>
			<!--a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a-->
        </div>
		
		<div data-role="content">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<a data-theme="b" data-role="button" href="#login-doctor">Doctor</a>
				</div>
				<div class="ui-block-b">
					<a data-theme="c" data-role="button" href="#login-nurse">Nurse</a>
				</div>
			</div>
        </div>
    </div>
    
    <div data-role="page" id="login-doctor" data-theme="d">
        
        <div data-role="header" data-position="inline" data-theme="b">
			<h1>BEDSIDE - Login Doctor</h1>
			<!--a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a-->
			<a data-direction="reverse" data-icon="back" href="#role">Back</a>
        </div>
        
        <div data-role="content">
			{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}
				
			<h3>Please login</h3>
			<!--form action="{% url 'django.contrib.auth.views.login' %}" method="post" id="login-form" data-ajax="false"-->
			<form action="#doctor1" method="post" id="login-form" data-ajax="false">
			{% csrf_token %}
			<ul data-role="listview" data-inset="true">
				<li data-role="fieldcontain">
				<div data-role="fieldcontain">
					<label for="username" class="ui-hidden-accessible">Username:</label>
					<input type="text" name="username" id="username" value="" placeholder="Username..."/>
				</div>
				<div data-role="fieldcontain">
					<label for="password" class="ui-hidden-accessible">Password:</label>
					<input type="password" name="password" id="password" value="" placeholder="Password..."/>
				</div>
				</li>
				<li data-role="fieldcontain"><button type="submit" data-theme="b">Login</button></li>
				<div style='display:none'><input type="hidden" name="next" value="{{ next }}" /></div>
			</ul>
			</form>
        </div>
        
        <div data-role="footer" class="ui-bar" data-position="fixed" data-theme="b">
            <form action="/i18n/setlang/" method="post" data-ajax="false">
				<fieldset data-type="horizontal" data-role="controlgroup" class="ui-grid-a">
					{% csrf_token %}
					<!--input name="next" type="hidden" value="/givings/" /-->
					
					<select name="language" id="language" data-theme="c">
					{% load i18n %}
					{% get_language_info_list for LANGUAGES as languages %}
					{% for language in languages %}
					<option
						{% if language.code == request.session.django_language %}
						selected="selected"
						{% endif %}
						value="{{ language.code }}">{{ language.name_local }} ({{ language.code }})</option>
					{% endfor %}
					</select>
					
					<button type="submit" data-theme="b" data-icon="arrow-r" data-iconpos="right">&nbsp;</button>
				</fieldset>
			</form>
        </div>
    </div>
    
    <div data-role="page" id="doctor1" data-theme="d">
		<div data-role="header" data-position="inline" data-theme="b">
			<h1>BEDSIDE - Doctor 1</h1>
			<!--a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a-->
        </div>
		
		<div data-role="content">
			<div class="ui-grid-a">
				<div class="ui-block-a">
					<a data-theme="b" data-role="button" href="#login-doctor">Doctor</a>
				</div>
				<div class="ui-block-b">
					<a data-theme="c" data-role="button" href="#login-nurse">Nurse</a>
				</div>
			</div>
        </div>
    </div>
    
</body>
</html>
